*
{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #18b7ff;
}
.about-sec
{
    display: flex;
    padding: 3rem 0;
    width:90%;
    justify-content: center;
    background: #ffc0cf;
}
.about-img 
{
    width: 250px;
    height: 250px;
    margin: 0 3rem;
}
.about-img img
{
    height: 100%;
    width: 100%;
}
.About-intro
{
    color:#110101;
    width: 400px;
    height: 250px;
    border-left:3px solid #18b7ff;
    padding-left: 2rem;
}

.About-intro p
{
margin-top: 1.5rem;
font-size: 14px;
opacity: .7;
}
@media only screen and(max-width:900px)
{
    .about-sec
    {
flex-direction: column;
align-items: center;
    }
    .about-img
    {
        width: 80%;
    }
    .About-intro
    {
        width: 100%;
        height: 100%;
        border-top:3px solid #18b7ff;
        border-left: none;
        padding: 1rem;
        margin-top: 2rem;
    }
    .about-intro h3 p
   {
    width: 80px;
   }
.about-intro p
{
    font-size: 12px;
}
}